.share_line
	span.share_line_title Share
	ul.social_list.share_list_mod
		li.social_item
			a.social_link.share_list_mod(href="#" tabindex="6")
				svg.icon.icon-facebook.size_mod(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 8.02 16.63')
					path(d='M5.33,16.63H1.78V8.31H0V5.45H1.78V3.73C1.78,1.39,2.78,0,5.63,0H8V2.87H6.52c-1.11,0-1.18.4-1.18,1.15V5.45H8L7.71,8.31H5.33v8.31h0Z', style='fill: currentColor;')
		li.social_item
			a.social_link.share_list_mod(href="#" tabindex="7")
				svg.icon.icon-twitter.size_mod(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 16.84 14.25')
					path(d='M14.86,2.25a3.58,3.58,0,0,0,1.52-2,6.75,6.75,0,0,1-2.19.87A3.38,3.38,0,0,0,11.66,0,3.53,3.53,0,0,0,8.21,3.6a3.75,3.75,0,0,0,.09.82A9.69,9.69,0,0,1,1.17.66,3.7,3.7,0,0,0,.7,2.47a3.64,3.64,0,0,0,1.54,3A3.36,3.36,0,0,1,.68,5v0A3.56,3.56,0,0,0,3.45,8.58a3.23,3.23,0,0,1-.91.13,3.29,3.29,0,0,1-.65-0.06,3.48,3.48,0,0,0,3.23,2.5A6.76,6.76,0,0,1,0,12.63a9.51,9.51,0,0,0,5.3,1.62c6.36,0,9.83-5.48,9.83-10.23,0-.16,0-0.31,0-0.46a7.16,7.16,0,0,0,1.72-1.86A6.68,6.68,0,0,1,14.86,2.25Z', style='fill: currentColor;')
		li.social_item
			a.social_link.share_list_mod(href="#" tabindex="8")
				svg.icon.icon-viber.size_mod(xmlns='http://www.w3.org/2000/svg', width='15', height='15', viewBox='0 0 15 15')
					g
						g
							path(, d='M7.722 12.976c3.085 0 5.595-2.492 5.595-5.556 0-3.065-2.51-5.558-5.595-5.558-3.086 0-5.596 2.493-5.596 5.558 0 1.177.368 2.304 1.065 3.257.036.05.046.113.026.17l-.603 1.783 1.87-.595a.186.186 0 0 1 .158.022c.916.602 1.98.92 3.08.92zM7.728.4c3.9 0 7.072 3.149 7.072 7.02 0 3.87-3.173 7.019-7.072 7.019a7.12 7.12 0 0 1-3.348-.835L.644 14.79a.185.185 0 0 1-.19-.047.187.187 0 0 1-.044-.191l1.215-3.583a6.968 6.968 0 0 1-.97-3.55C.655 3.549 3.828.4 7.728.4zm3.327 8.274c.138.066.246.119.31.222.091.153.055.572-.083.957-.176.488-.948.888-1.299.919l-.051.005a2.773 2.773 0 0 1-.289.017c-.273 0-.755-.047-1.772-.453-1.056-.422-2.097-1.327-2.933-2.547l-.03-.043c-.218-.288-.726-1.044-.726-1.845 0-.89.426-1.395.678-1.554.237-.15.774-.22.873-.225l.08-.003c.209 0 .358.126.472.397.047.113.49 1.183.515 1.232a.49.49 0 0 1 .014.461l-.023.047c-.045.091-.084.17-.17.271a6.638 6.638 0 0 0-.086.1c-.06.073-.121.147-.179.204a.338.338 0 0 0-.061.073s0 .013.017.041c.118.198.972 1.375 2.099 1.864.049.021.211.088.22.088.011 0 .029-.017.041-.032.098-.11.416-.482.52-.638.094-.139.213-.21.354-.21.087 0 .169.028.245.055.186.067 1.236.584 1.264.597z', style='fill: currentColor;')
.section_content_w
	.section_content
		p Youth is the period of our lives from age 15 to 24 when we cease to depend on others and take charge of our own future. If the transition goes well, everyone benefits. But a failed transition can result in life-long poverty, and a negative impact on society and the economy. This understanding has driven an intensifying focus on youth across developing countries over the past decade, centred upon three concerns.
	+graph_block({
		head_title: 'FIGURE A',
		head_descr: 'The number of young people is growing rapidly in sub-Saharan Africa and in countries with low levels of structural transformation',
		img: 'i/content_img.png',
		m_img: 'i/content_img_m.png',
		bottom_text: 'Note: ST: structural transformation; RT: rural transformation; APR: Asia and the Pacific; LAC: Latin America and the Caribbean; NEN: Near East, North Africa and Europe; SSA: sub-Saharan Africa. The dataset covers 85 low- and middle-income countries (based on the World Bank definitions of these categories and data for 2018). Source: Authors’ calculations, based on United Nations Department of Economic and Social Affairs (2017a).'
	})
	.section_content
		p First, growth in the number of young people is concentrated in the world’s poorest developing countries. They are home to nearly 1 billion of the world’s 1.2 billion youth. This youth ‘bulge’ arises from their slow demographic transition to low birth rates following impressive declines in death rates.
		p Today, 65 per cent of the world’s rural youth live in Asia and the Pacific, and 20 per cent in Africa. But Africa’s share is projected to reach 37 per cent by 2050, even as the share in Asia and the Pacific falls to 50 per cent.
	+graph_block({
		head_title: 'MAP A',
		head_descr: 'A disproportionate share of rural youth today are in Asia, but Africa’s share is projected to rise rapidly',
		tabs_array: {
			title: 'Percentage share of global rural youth',
			nav: [
				{
					active_mod: true,
					title: '2015',
					tabindex: '9'
				},
				{
					title: '2050',
					tabindex: '10'
				}
			],
			content: [
				{
					active_mod: true,
					img: 'i/content_img_2.png',
					m_img: 'i/content_img_2_m.png'
				},
				{
					img: 'i/content_img_3.png',
					m_img: 'i/content_img_2_m.png'
				}
			]
		}
	})
	.section_content
		p Second, how should policy-makers respond to the unprecedented, rapid, transformative wave of technology change sweeping the world? This opens new opportunities but closes more traditional paths to rural development.
		p Third, digital technologies deliver information, contributing to rapidly-rising youth aspirations for economic advancement and a bigger say in decision-making. How can expectations be met?
		p This report focuses on rural youth. That is because they make up two-thirds of the youth in developing countries, so youth issues are especially acute in rural areas.
		p And it is in sub-Saharan Africa, where the high shares of youth in rural populations and their large numbers combine with widespread poverty to provide a particular challenge. How can these countries, and others, best invest in the future of their youth?
