//------------------------------------------------------------base styles

:root {
	@include bp($point_2 + 1, min) {
		--full-screen: 100vh;
	}

	// @include bp($point_2) {
	// 	--full-screen: calc(var(--vh, 1vh) * 100);
	// }

}

html {
	height: 100%;
	font: 400 10px/1.33 $font_1;

	// @include bp($point_2) {
	// 	font-size: 10px;
	// }

}

body {
	position: relative;

	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-image: url('../i/background-img.jpg');
	background-size: cover;

	&.menu_open {
		overflow: hidden;
	}


}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow: hidden;
	// overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: 0 0 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}

.elements_list {
	padding: 3rem;
}
ul{
	&.styled{
		list-style: disc;
		padding-left: 15px;
		li{
			list-style: disc;
		}
	}
}
//------------------------------------------------------------base styles###
