.footer {
	position: absolute;
	bottom: 0;

	width: 100%;
	min-height: $height_footer;
	flex: 0 0 auto;
	padding: 7em $gl_indent 4em;

	font-size: 1rem;

	will-change: transform;

	background-color: $accent_color_3;
	z-index: 10;
}

.footer_logo_wrap {
	width: 9.8em;
	height: 5em;
	margin-right: auto;
}

.footer_logo {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}