//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	height: $height_header;
	width: 100%;
	padding: 0 $gl_indent;

	font-size: 1rem;

	will-change: transform;
	transition: background-color .3s ease;

	@include z-index(header);

	body.menu_open & {
		
		@include bp($point_2) {
			background-color: $white;
		}
		
	}

	&.scroll_mod {
		background-color: rgba($white, .9);
	}
	
	@include bp($point_4 - 1) {
		height: 8.2rem;
	}

}

.logo {
	display: inline-flex;
	width: 11.6em;
	height: 6em;
}

.logo_img {
	display: block;
	width: 100%;
	height: 100%;
	
	object-fit: contain;

	.header.scroll_mod & {
		display: none;
	}

	&.hidden_mod {
		display: none;

		.header.scroll_mod & {
			display: block;
		}

	}

	body.menu_open & {
		@include bp($point_2) {
			display: none;

			&.hidden_mod {
				display: block;
			}

		}
	}

}

.header_info {
	@extend %global_flex_block_row_wrap_flex-start_center;

	margin-left: auto;
}
//------------------------------------------------------------layout###

//---------------------------------------------trigger
@mixin user_menu_butt_line {
	position: absolute;
	top: 50%;
	left: 0;

	width: 100%;
	height: .2rem;
	margin-top: -.1rem;

	background-color: $white;
	transition: background-color .3s ease;

	header.scroll_mod & {
		background-color: $accent_color_3;
	}

	body.menu_open & {
		
		@include bp($point_2) {
			background-color: $accent_color_3;
		}
		
	}

}

.menu_trigger {
	display: inline-flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
}

.menu_trigger_in {
	position: relative;
	z-index: 210;

	display: block;
	width: 2.4em;
	height: 1.4em;
	margin-right: 1.2em;

	text-transform: uppercase;

	color: transparent;
	pointer-events: none;

	&:before {
		content: '';
		transform: translate(0, -.6rem);
		transition: all .3s ease;

		@include user_menu_butt_line;
	}

	&:after {
		content: '';
		transform: translate(0, .6rem);
		transition: all .3s ease;

		@include user_menu_butt_line;
	}

	.menu_trigger.active_mod & {

		&:before {
			transform: (rotate(45deg) translate(0, 0));
		}

		&:after {
			transform: (rotate(-45deg) translate(0, 0));
		}

	}

}

.menu_trigger_title {
	color: $white;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-transform: uppercase;

	transition: color .3s ease;
	pointer-events: none;

	.header.scroll_mod & {
		color: $accent_color_3;
	}

	body.menu_open & {
		
		@include bp($point_2) {
			color: $accent_color_3;
		}
		
	}

}

.menu_trigger_decor {
	transition: all .3s ease;

	.menu_trigger.active_mod & {
		opacity: 0;
		transform: translate(100%, 0);
	}

	@include user_menu_butt_line;
}

//---------------------------------------------trigger###