.btn_download {
  @extend %white_btn_1;
  @extend %btn_size_1;

	display: block;

  &.header_mod {
		.header.scroll_mod & {
			color: $accent_color_3;
			box-shadow: 0 0 0 2px $accent_color_3;
		}
		
		@include bp($point_2) {
			body.menu_open & {
				box-shadow: 0 0 0 2px $accent_color_3;
			}
		}

		@include bp($point_4, min) {
			margin-right: 3.4rem;
		}

		@include bp($point_4 - 1) {
			display: none !important;
		}

	}

	body.menu_open & {
		
		@include bp($point_2) {
			color: $accent_color_3;

			&:hover,
			&:focus,
			&:active {
				color: $white;
				background-color: $accent_color_3;
			}

		}
		
	}

}

.btn_download_v1 {
  @extend %blue_btn_1;
  @extend %btn_size_1;
}

.btn_top_download {
	@extend %btn_size_1;
	@extend %blue_btn_1;
}

.btn_wrap {
	&.center_level_mod {
		text-align: center;
	}

	&.headline_mod {
		display: none;
		width: 100%;
		margin-top: 6em;
		@include bp($point_4) {
			display: block;
		}
	}
}



// social

.social_list {
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.social_item {
	& + & {
		margin-left: 1.8em;
	}
}

.social_link {
	display: block;
	color: $accent_color_2;
	transition: color .3s;

	&:hover, &:focus {
		text-decoration: none;
		color: $accent_color_1;
	}

	&.share_list_mod {
		color: $accent_color_1;
		&:hover, &:focus {
			text-decoration: none;
			color: $accent_color_2;
		}
	}

}

.btn_close {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2em;
	height: 2em;

	cursor: pointer;

	&.main_menu_mod {
		
		@include bp($point_2 + 1, min) {
			position: absolute;
			top: 2.6em;
			right: 2.6em;
		}

		@include bp($point_2) {
			display: none;
		}
		
	}

}