.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:(18.38/10)*1rem;
	width:(18.38/18.38)*1em;
}
.icon-dnl {
	font-size:(15/10)*1rem;
	width:(14.98/15)*1em;
}
.icon-facebook {
	font-size:(16.63/10)*1rem;
	width:(8.02/16.63)*1em;
}
.icon-instagram {
	font-size:(19/10)*1rem;
	width:(19.25/19)*1em;
}
.icon-linkedin {
	font-size:(14.25/10)*1rem;
	width:(15.24/14.25)*1em;
}
.icon-top {
	font-size:(44/10)*1rem;
	width:(19.8/44)*1em;
}
.icon-twitter {
	font-size:(14.25/10)*1rem;
	width:(16.84/14.25)*1em;
}
.icon-viber {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-youtube {
	font-size:(14.25/10)*1rem;
	width:(19.25/14.25)*1em;
}
