//---------------------------------------------icons

.icon {
	&.headline_mod {
		margin-left: (2em/3);
	}

	&.full_size_mod {
		width: 100%;
		height: 100%;
	}

	&.close_mod {
		fill: $accent_color_3;
	}

}
