.banner_block {
	width: 100%;
	padding-top: 6em;

	border-top: 1px solid rgba($accent_color_3, .1);

	@include bp($point_3) {
		width: auto;
		margin: 0 (-$gl_indent);
	}
}

.banner_block_head {
	width: 100%;
	max-width: 74.8em;
	margin: 0 auto 3.6em;
	padding: 0 $gl_indent;

	text-align: center;
}

.banner_block_subtitle {
	display: block;
	margin-bottom: (1.2em/1.1);

	color: $accent_color_1;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

.banner_block_title {
	color: $accent_color_1;
	font-size: 3em;
	line-height: 1.1;

	@include bp($point_3) {
		color: $accent_color_1;
		font-size: 2em;
		line-height: (2.8/2);
	}
}

.banner_block_img_w {
	@extend %transition_opacity;

	display: block;

	width: 100%;
	height: 38em;

	&:hover {
		opacity: .8;
	}
}

.banner_block_img {
	display: block;
	width: 100%;
	height: 100%;

	object-fit: cover;
}
