.share_line {
	@extend %global_flex_block_row_wrap_flex-end_center;

	width: 100%;
	margin-bottom: 6em;
	padding-bottom: 1.4em;
	border-bottom: 1px solid $accent_color_1;
}

.share_line_title {
	margin-right: (2.6em/1.1);

	color: $accent_color_1;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

.section_content_w {
	width: 100%;
	padding-bottom: 6em;
}

.section_content {
	width: 100%;
	margin-bottom: (6em/1.5);

	&:last-child {
		margin-bottom: 0;
	}

	color: $black;
	font-size: 1.5em;
	font-weight: 400;
	line-height: (3/1.5);
}

.graph_block {
	width: 100%;
	margin-bottom: 6em;

	&:last-child {
		margin-bottom: 0;
	}

	@include bp($point_3) {
		width: auto;
		margin: 0 (-$gl_indent) 6em;
	}
}

.graph_block_head {
	width: 100%;
	padding: 3em;
	background-color: $accent_color_1;
	text-align: center;

	@include bp($point_3) {
		padding: 2em;
	}
}

.graph_block_head_title {
	margin-bottom: (.8em/1.1);

	color: $white;
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

.graph_block_head_descr {
	width: 100%;
	max-width: (74.8em/1.4);
	margin: 0 auto;

	color: $white;
	font-size: 1.4em;
	line-height: (1.8em/1.4);
}

.graph_block_body {
	width: 100%;
	padding: 4em 9.6em 4.8em;

	background-color: #fafafa;

	@include bp($point_3) {
		padding: 6em 2em 4.8em;
	}
}

.graph_tabs_head {
	width: 100%;
	margin-bottom: 5.4em;

	text-align: center;
}

.graph_tabs_title {
	margin-bottom: (3.4em/2);

	color: $accent_color_3;
	font-size: 2em;
	line-height: (3/2);
}

.graph_tabs_nav_list {
	@extend %global_flex_block_row_wrap_center_center;

	margin: 0 -5em -2em 0;
	padding: 0;

	list-style: none;
}

.graph_tabs_nav_item {
	padding: 0 5em 2em 0;
}

.nav_item_title {
	@extend %transition_opacity;

	color: $accent_color_3;
	font-size: 2em;

	opacity: .2;

	cursor: pointer;

	&.active_tab,
	&:hover,
	&:focus {
		opacity: 1;
	}

}

.graph_tabs_content_w {
	width: 100%;
}

.graph_tabs_content_item {
	display: none;
	width: 100%;

	&.active_tab {
		display: block;
	}
}

.graph_tabs_content_item_img {
	display: block;
	width: 100%;
	height: auto;
}

.graph_block_bottom {
	width: 100%;
	padding-top: (3em/1.1);

	color: $accent_color_3;
	font-size: 1.1em;
	font-weight: 400;
	line-height: (1.9/1.1);
}

.graph_img_w {
	width: 100%;
	overflow: hidden;
}

.graph_img {
	display: block;
	width: 100%;
	height: auto;
}
