.headline_list {
	// @extend %global_flex_block_row_wrap_flex-start_stretch;

	display: grid;
	counter-reset: sections;
	
	margin-top: 3.2em;

	@include bp($point_2 + 1, min) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	@include bp($point_2) {
		margin: 3.4em #{-$gl_indent} 0;
	}
}

.headline_item {
	@extend %global_flex_block_row_nowrap_flex-start_stretch;
	position: relative;

	&.content_mod {
		counter-increment: sections;

		&:after {
			display: none;
		}
	}

	&.top_mod {
		position: relative;
		background-color: $white;
		&:after {
			display: block;
			content: '';
			padding-bottom: 100%;
			@include bp($point_2) {
				padding-bottom: 50%;
			}
			@include bp($point_4) {
				padding-bottom: 100%;
			}
		}

		@include bp($point_2) {
			order: 2;
		}
	}

	@include bp($point_2 + 1, min) {

		&:nth-child(1) {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
		
		&:nth-child(2) {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}
		
		&:nth-child(3) {
			grid-column: 3 / 4;
			grid-row: 1 / 3;
		}
		
		&:nth-child(4) {
			grid-column: 1 / 3;
			grid-row: 3 / 4;
		}
		
		&:nth-child(5) {
			grid-column: 1 / 3;
			grid-row: 4 / 5;
		}
		
		&:nth-child(6) {
			grid-column: 3 / 4;
			grid-row: 3 / 5;
		}
		
		&:nth-child(7) {
			grid-column: 1 / 2;
			grid-row: 5 / 6;
		}
		
		&:nth-child(8) {
			grid-column: 2 / 4;
			grid-row: 5 / 6;
		}
		
		&:nth-child(3n + 3) {
			flex-direction: column;
		}
	}

	@include bp($point_4) {
		flex-direction: column;
	}

	&:hover, &:focus {
		text-decoration: none;
	}
}

.headline_img_wrap {
	position: relative;

	width: 50%;
	flex-shrink: 0;

	overflow: hidden;

	&:after {
		content: '';
		display: block;
		padding-bottom: 100%;

		@include bp($point_4) {
			padding-bottom: 60%;
		}
		@include bp($point_6) {
			padding-bottom: 100%;
		}
	}

	.headline_item:hover &,
	.headline_item:focus & {
		opacity: 1;
	}

	@include bp($point_2 + 1, min) {
		opacity: .2;
		transition: opacity .3s;

		.headline_item:nth-child(3n + 2) & {
			order: 2;
		}
		
		.headline_item:nth-child(3n + 3) & {
			width: 100%;
			height: 50%;
		}

	}

	@include bp($point_2) {
		.headline_item:nth-child(even) & {
			order: 2;
		}
	}

	@include bp($point_4) {
		width: 100%;

		.headline_item:nth-child(even) & {
			order: 0;
		}
	}
}

.headline_img {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.headline_content {
	@extend %global_flex_block_column_nowrap_flex-start_stretch;

	width: 100%;
	padding: 5.8em 4em 1.6em;
	flex-grow: 1;
	
	background-color: $accent_color_2;

	@include bp($point_2) {
		padding: 3.8em 2.4em;
	}

	@include bp($point_4) {
		min-height: 27em;
	}
}

.headline_counter {
	margin-bottom: (.8em/1.1);

	font-size: 1.1em;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:before {
		content: "section " counter(sections, lower-alpha);
	}

	@include bp($point_2) {
		margin-bottom: (.4em/1.1);
	}
}

.headline_title {
	margin-bottom: (1em/3);

	font-size: 3em;
	font-weight: 700;
	color: $white;

	@include bp($point_2) {
		font-size: 2.4em;
	}

	@include bp($point_4) {
		margin-bottom: 1em;
	}
}

.headline_link {
	margin-top: auto;
	font-size: 2em;
	font-weight: 700;
	color: $accent_color_3;

	transition: .3s;

	.headline_item:hover &,
	.headline_item:focus & {
		transform: translateY(0);
		opacity: 1;
		pointer-events: initial;
	}

	&:hover, &:focus {
		text-decoration: none;
		color: $accent_color_1;
	}

	@include bp($point_2 + 1, min) {
		transform: translateY(100%);
		opacity: 0;
		pointer-events: none;
	}
}

.headline_top_wrap {
	@extend %global_flex_block_row_wrap_center_center;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: $white;
}

.headline_top {
	color: $accent_color_2;
	transition: color .3s;

	@include bp($point_4 + 1, min) {
		&:after {
			content: '';
			
			position: absolute;
			top: 0;
			left: 0;
			
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&:hover, &:focus {
		text-decoration: none;
		color: $accent_color_1;
	}
}

.headline_top_in {
	@extend %global_flex_block_row_wrap_center_center;

	font-size: 3em;
	font-weight: 700;
}

.headline_top_arrow {
	display: block;
	width: 2rem;
	height: 4.4rem;
	margin-left: 2rem;
	
	fill: currentColor;
}