.hero_content {
	@include bp($point_2) {
		//	width: 100%;
	}

	&.v_1_mod {
		max-width: 63em;
		margin: 0 auto;
    padding-top: 0;
		@include bp($point_2) {
			margin: 0 auto 2em;
			padding-top: 14em;
		}
	}

	&.v_2_mod {
		max-width: 80em;
		margin: 0 auto;
		@include bp($point_2) {
			margin: 12em auto;
		}
	}
	text-align: center;
	h2{
		font-size: 3.6em;
		color: $white;
		text-align: center;
		@include bp($point_2) {
			font-size: 2.5em;
		}
		strong{
			color: $accent_color_1;
		}
	}
	h3{
		text-align: center;
		font-weight: 100;
		font-size: 2.5em;
		text-transform: uppercase;
		@include bp($point_2) {
			font-size: 1.85em;
		}
	}
	.cover-img{
		max-width: 28em;
		margin: 20px auto 0;
		display: block;
		@include bp($point_2) {
			max-width: 20em;
		}
	}
	.button_mod{
		background: $white;
		border-radius: 30px;
		padding: 12px 20px 12px 30px;
		font-size: 14px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: background-color .3s ease;
		svg{
			margin-left: 10px;
			#btn-std-white{
				transition: fill .3s ease;
			}
		}
		&:hover{
			background: $accent_color_1;
			color: $white;
			text-decoration: none;
			transition: background-color .3s ease;
			svg{
				#btn-std-white{
					transition: fill .3s ease;
					fill: $white;
				}
			}
		}
	}
}

.hero_bottom {
	position: absolute;

	height: 7em;

	@include bp($point_2 + 1, min) {
		bottom: 0;
		left: 0;

		width: 100%;

		padding: 0 $gl_indent;
	}

	@include bp($point_2) {
		position: absolute;
		top: 30.4em;
		right: $gl_indent;

		display: none;
		height: auto;

		z-index: 10;
	}
}

.hero_bottom_in {
	@extend %global_flex_block_column_nowrap_flex-end_center;

	position: relative;

	margin: 0 auto;
	max-width: 128rem;
	height: 100%;
}

.hero_mob_bottom {
	position: relative;

	display: block;
	height: 7em;

	@include bp($point_2 + 1, min) {
		display: none;
	}

	&::after {
		position: relative;
		z-index: 10;

		margin: 0 auto;
		display: block;
		width: 2px;
		height: 4em;

		content: '';

		background-color: $white;
	}

}

.hero_bottom_visit_site {
	position: absolute;
	bottom: (1.4em/1.3);
	left: 0;

	display: block;

	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.1;
	color: $white;

	transition: opacity 0.3s;

	&:hover {
		text-decoration: none;

		opacity: 0.8;
	}

	&.mob_mod {
		display: none;
	}

	@include bp($point_2) {
		left: auto;
		right: (2em/1.2);
		bottom: (1.4em/1.2);

		font-size: 1.2em;

		&.mob_mod {
			z-index: 10;

			display: block;
		}
	}

}

.hero_bottom_read_report {
	@extend %global_flex_block_column_nowrap_center_center;

	display: inline-flex;
	width: 1.2em;

	transition: opacity 0.3s;
	text-decoration: none;

	@include bp($point_2) {
		display: none;
	}

	&::after {
		position: relative;

		display: block;
		width: 2px;
		height: 40px;

		content: '';

		background-color: $white;
	}

	&:hover {
		text-decoration: none;

		opacity: 0.8;
	}
}

.hero_bottom_read_report_text {
	@extend %global_flex_block_row_nowrap_center_center;

	position: relative;

	margin-bottom: 2px;

	font-size: 1.1em;
	font-weight: 400;
	color: $white;

	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	white-space: nowrap;
}

.hero_bottom_mob_download_report {
	margin-bottom: 6.4em;
	display: block;

	font-size: 1em;
	font-weight: 400;
	color: $white;

	text-decoration: underline;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

.hero_top {
	@extend  %transition_all;

	@include bp($point_2 + 1, min) {
		position: fixed;
		top: $height_header;
		z-index: 100;

		margin-bottom: 2em;
		width: calc(100% + 4rem);
		margin-left: -$gl_indent;
		margin-right: -$gl_indent;

		font-size: 1rem;

		border-top: 1px solid rgba($white, 0.2);
		border-bottom: 1px solid rgba($white, 0.2);
		opacity: 0;
		pointer-events: auto;

		body.inner_mod & {
			opacity: 1;
			pointer-events: auto;
		}

		&.scroll_mod {
			z-index: 100;
			position: fixed;
			background-color: rgba($white, .9);
			border-top: 1px solid rgba($accent_color_3, 0.2);
			border-bottom: 1px solid rgba($accent_color_3, 0.2);
		}

	}

	@include bp($point_2) {
		display: none;
	}

}

.hero_top_progress {
	position: absolute;
	top: 100%;
	left: -100%;

	width: 100%;
	height: 3px;

	background-color: $white;

	.hero_top.scroll_mod & {
		background-color: $accent_color_3;
	}
}

.hero_top_section_name_type {
	margin-right: 1.2em;

	font-size: 1.1em;
	font-weight: 400;
	color: $white;

	letter-spacing: 0.1rem;
	text-transform: uppercase;

	.hero_top.scroll_mod & {
		color: $accent_color_3;
	}
}

.hero_top_section_name_title {
	font-size: 1.4em;
	line-height: 1.2;
	color: $white;

	.hero_top.scroll_mod & {
		color: $accent_color_3;
	}
}

.hero_top_download {
	@extend %global_flex_block_row_nowrap_center_center;

	position: absolute;
	right: 0;

	height: 100%;

	color: $white;

	transition: opacity 0.3s;

	&:hover,
	&:focus {
		text-decoration: none;

		opacity: .7;
	}

	.hero_top.scroll_mod & {
		color: $accent_color_3;
	}

	@include bp($point_1) {
		right: 4em;
	}

}

.hero_top_download_icon_wrap {
	margin-left: 1.2em;
	width: 1.6em;
	height: 1.6em;
}

.hero_top_download_text {
	display: block;
	padding-top: .4em;

	font-size: 1.1em;
	font-weight: 400;

	text-align: right;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
