//---------------------------------------------sections
.section_wrap {
	display: flex;
}

.section {
	position: relative;

	width: 100%;
	padding: 12em $gl_indent;

	font-size: 1rem;

	&.bg_mod {
		background-color: $accent_color_3;
	}

	&.hero_mod {
		@extend %global_flex_block_column_wrap_center_center;

		max-width: 100%;
		padding: 0 $gl_indent;

		// @include bp($point_2) {
		// 	background-color: $accent_color_3;
		// }
	}

	&.v_1_mod {

		min-height: 100vh;
		height: 100vh;
		@include bp($point_2) {
			display: block;
			// min-height: 100vh;
		}

	}

	&.v_2_mod {
		min-height: 65em;
		padding-top: 9em;
		justify-content: space-between;

		@include bp($point_2) {
			z-index: 0;

			display: flex;
			justify-content: center;
			min-height: 55em;
			padding-top: 0;
		}

	}

	@include bp($point_2) {
		padding: 8em $gl_indent;
	}
}

.section_in {
	width: 100%;
	max-width: $page_width;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	&.header_mod {
		@extend %global_flex_block_row_wrap_center_center;

		max-width: 128rem;
		height: 100%;

		@include bp($point_10, min) {
			max-width: none;
		}
	}

	&.footer_mod {
		@extend %global_flex_block_row_nowrap_flex-start_center;
		padding-top: 4em;
		border-top: 1px solid rgba($white, .2);
	}

	&.bot_mod {
		@include bp($point_2 + 1, min) {
			margin-top: auto;
		}
	}

	&.hero_mod {
		max-width: 128rem;
	}

	&.main_menu_mod {
		max-width: 128rem;
	}

	&.content_mod {
		max-width: $page_width_2;
	}

	&.hero_top_mod {
		@extend %global_flex_block_column_nowrap_center_center;

		position: relative;

		height: 4.8em;
	}
}

.section_title {
	font-size: 7.5em;
	color: $accent_color_1;

	&.h2_mod {
		font-size: 3rem;
	}

	&.v1_mod {
		color: $accent_color_3;
	}

	&.line_mod {
		position: relative;

		padding-top: 1.6rem;

		&:before {
			position: absolute;
			top: 0;
			left: 0;

			width: 4rem;
			height: 3px;

			background-color: currentColor;

			content: '';
		}

	}

	&.hero_mod {
		line-height: 1.03;

		@include bp($point_2) {
			line-height: 1.2;
		}
	}

	&.hero_index_mod {
		margin-bottom: (2em/7.5);

		@include bp($point_2) {
			margin-bottom: (2em/4);
		}

	}

	&.hero_content_mod {
		margin-bottom: (11em/7.5);
		line-height: 1.0;

		@include bp($point_2) {
			margin-bottom: 0;
			font-size: 3em;
			line-height: 1.2;
		}
	}

	@include bp($point_2) {
		font-size: 4em;
	}
}

.section_bg {
	z-index: -1;

	position: absolute;
	top: 0;
	left: 0;

	min-width: 100%;
	height: 100%;
	overflow: hidden;

	&:after {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		content: '';
	}

	&.hero_content_mod {
		@include bp($point_2) {
			position: absolute;
			z-index: -1;
		}
	}

	&.hero_index_mod {
		@include bp($point_2) {
			z-index: 10;
			// position: relative;
			// left: auto;
			//
			// height: 33.4em;
			// margin: 0 $gl_indent*(-1) 4em;
		}
	}
}

.section_bg_img {
	display: block;
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

.section_subtitle {
	font-size: 2.6em;
	font-weight: 400;
	line-height: 1.05;
	color: $white;

	// letter-spacing: -.04em;

	@include bp($point_2) {
		font-size: 1.7em;
		// letter-spacing: -.03rem;
	}
}
.section_label {
	margin-bottom: (.6em/1.1);

	font-size: 1.1em;
	font-weight: 400;
	color: $white;

	letter-spacing: .2rem;
	text-transform: uppercase;

	@include bp($point_2) {
		margin-bottom: (1.2em/1.1);

		letter-spacing: .1rem;
	}
}
