include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- array = '';
block vars
doctype
html(lang="en")
	head
		+head(array)
	body(class= array.body_class)
		+header
		if array.body_class == 'inner_mod'
			.hero_top
				.hero_top_progress.progressBar
				.section_in.hero_top_mod
					.hero_top_section_name_wrap
						span.hero_top_section_name_type Section A —
						b.hero_top_section_name_title Why youth are important for rural development
					a.hero_top_download(href="#" tabindex="5")
						span.hero_top_download_text download section
						.hero_top_download_icon_wrap
							+icon('dnl','full_size_mod')
		+main_menu
		.wrapper(class= array.layout_mod data-barba="wrapper")
			.base(class= array.layout_mod data-barba="container" data-barba-namespace=array.name)
				block content_block
			+footer
		+scripts
		block local_popup
