extends _layout

block vars
	- array = {body_class:'inner_mod', layout_mod:'', sub_keywords:'', title_inner:'Title of the page', name: 'content'}
block content_block
	section.section.hero_mod.v_2_mod
		.section_bg.hero_content_mod
			img.section_bg_img(src='i/hero_2.jpg', alt="section background")
		.section_in.content_mod.bot_mod
			.hero_content.v_2_mod
				.section_label Section a
				h2.section_title.hero_mod.hero_content_mod Why youth are important for rural development
	section.section
		.section_in.content_mod
			include blocks/content_section
			+banner_block({
				tabindex: '11',
				subtitle: 'Read Section B',
				title: 'Three foundations for rural youth development: Productivity, connectivity and agency',
				url: 'content.html',
				img: 'i/banner_bg.jpg'
			})
