extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Title of the page', name:'home'}
block content_block

	section.section.hero_mod.v_1_mod
		.section_bg.hero_index_mod
			img.section_bg_img(src='i/hero.jpg', alt="section background")
			a.hero_bottom_visit_site.mob_mod(href='#' tabindex="4") Visit ifad.org
		.section_in.hero_mod
			.hero_content.v_1_mod
				h2.section_title.hero_mod.hero_index_mod Creating Opportunities for Rural Youth
				h3.section_subtitle 2019 Rural Development Report

			.hero_bottom
				.hero_bottom_in
					a.hero_bottom_visit_site(href='#' tabindex="4") Visit ifad.org
					a.hero_bottom_read_report.scrollHeroLink(href="#secondSection" tabindex="5")
						span.hero_bottom_read_report_text Read report
			.hero_mob_bottom
				a.hero_bottom_mob_download_report(href='#') Download report
	section.section.bg_mod#secondSection
		.section_in
			h2.section_title Headline
			+headline({
				list: [
					{
						img: 'i/headline_1.jpg',
						title: 'Why youth are important for rural development'
					},
					{
						img: 'i/headline_2.jpg',
						title: 'Three foundations for rural youth development: productivity, connectivity and agency'
					},
					{
						img: 'i/headline_3.jpg',
						title: 'Overlapping settings at national, local and familial levels'
					},
					{
						img: 'i/headline_1.jpg',
						title: 'Constraints in the transition from dependence to independence'
					},
					{
						img: 'i/headline_2.jpg',
						title: 'Today’s unprecedented rate and nature of change'
					},
					{
						img: 'i/headline_3.jpg',
						title: 'Thinking differently about investing in rural youth'
					},
					{
						top: true
					},
					{
						img: 'i/headline_2.jpg',
						title: 'Embedding rural youth policy and investments in broader rural development strategies'
					}
				]
			})
