@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	white-space: nowrap;

	&:hover, &:focus {
		text-decoration: none;
	}

}

//color extends
%white_btn_1 {
	color: $white;
	letter-spacing:	2px; 

	//border: 2px solid $white;
	box-shadow: inset 0 0 0 2px $white;
	background-color: transparent;
	text-transform: uppercase;
	transition: background-color .3s ease;

	@include st_btn();

	&:hover,
	&:focus,
	&:active {
		color: $black;
		background-color: $white;
	}

}

%blue_btn_1 {
	color: $accent_color_3;
	letter-spacing:	2px; 

	border: 2px solid $accent_color_3;
	background-color: transparent;
	text-transform: uppercase;
	transition: all .3s ease;

	@include st_btn();

	&:hover,
	&:focus,
	&:active {
		color: $white;
		background-color: $accent_color_3;
	}

}

$fns: 1.1;

//size extends
%btn_size_1 {
	width: (20em/$fns);
	height: (4.6em/$fns);
	padding: 0 (1.2em/$fns);

	font-size: $fns + em;
	line-height: 4.5em;

	border-radius: 6rem;
}

// Style for "DOWNLOAD R"