mixin header
	header.header#header
		.section_in.header_mod
			a.logo(href="#" tabindex="1")
				img.logo_img(src="i/logo.png", alt="IFAD")
				img.logo_img.hidden_mod(src="i/logo_blue.png", alt="IFAD")
			.header_info
				a.btn_download.header_mod(href="/" tabindex="2") Download report
				button.menu_trigger.menuTrigger(tabindex="3")
					span.menu_trigger_in
						span.menu_trigger_decor
					span.menu_trigger_title Menu

mixin footer
	footer.footer
		.section_in.footer_mod
			a.footer_logo_wrap(href="#" tabindex="100")
				img.footer_logo(src="i/logo_color.png", alt="logo")
			+social({
				mod_block: 'footer_mod',
				startTabIndex: '101',
				items: [
					{mod_link: 'footer_mod', name_icon: 'facebook', mod_icon: 'footer_social_mod'},
					{mod_link: 'footer_mod', name_icon: 'instagram', mod_icon: 'footer_social_mod'},
					{mod_link: 'footer_mod', name_icon: 'linkedin', mod_icon: 'footer_social_mod'},
					{mod_link: 'footer_mod', name_icon: 'twitter', mod_icon: 'footer_social_mod'},
					{mod_link: 'footer_mod', name_icon: 'youtube', mod_icon: 'footer_social_mod'}
				]
			})

mixin headline(array)
	.headline_list
		- i = 6;
		each item in array.list
			- mod = item.title ? 'content_mod' : 'top_mod'
			if item.title
				a.headline_item(href="content.html" class= mod tabindex=i)
					.headline_img_wrap
						img.headline_img(src=item.img, alt="headline image")
					.headline_content
						.headline_counter
						.headline_title= item.title
						.headline_link Read Section
			if item.top
				.headline_item(class= mod)
					.headline_top_wrap
						a.headline_top.scrollToLink(href="#header" tabindex=i)
							span.headline_top_in Back to top
								svg.headline_top_arrow(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.8 44")
									path(d="M11.5,44h-3V5.64L2.12,12,0,9.9,7.78,2.12,9.9,0,12,2.12,19.8,9.9,17.68,12,11.5,5.84V44Z")
						.btn_wrap.headline_mod.center_level_mod
							a.btn_top_download(href="#") DOWNLOAD REPORT
			-i++;

mixin main_menu(array)
	.main_menu
		.main_menu_heading
			h2.section_title.h2_mod.line_mod.v1_mod Headline
			.btn_close.main_menu_mod.btnMenuClose
				+icon('close', 'close_mod')
		.article_w_list
			ul.article_list.main_menu_mod
				- index = 150
				each item in articleObj
					li.article_list_item
						+article_block({
							tabindex: index,
							category: item.category,
							title: item.title,
						})
					-index++;
			.btn_wrap.center_level_mod
				a.btn_download_v1(href="#") DOWNLOAD REPORT


mixin article_block(array)
	article.article_block
		a.article_block_in(href="content.html" tabindex=array.tabindex)
			span.article_block_subtitle=array.category
			h3.article_block_title=array.title

mixin graph_block(array)
	- i = 0;
	- j = 0;
	.graph_block
		.graph_block_head
			h3.graph_block_head_title!= array.head_title
			h3.graph_block_head_descr!= array.head_descr
		.graph_block_body
			if array.tabs_array
				.graph_tabs_head
					h3.graph_tabs_title!= array.tabs_array.title
					if array.tabs_array.nav
						ul.graph_tabs_nav_list
							each item in array.tabs_array.nav
								if item.active_mod
									li.graph_tabs_nav_item
										button.nav_item_title.active_tab(data-tab="0" tabindex=item.tabindex)!= item.title
								else
									- i ++;
									li.graph_tabs_nav_item
										button.nav_item_title(data-tab= i tabindex=item.tabindex)!= item.title
				if array.tabs_array.content
					.graph_tabs_content_w
						each item in array.tabs_array.content
								if item.active_mod
									.graph_tabs_content_item.active_tab(data-tab="0")
										picture
											source(srcset= item.m_img, media="(max-width: 1023px)")
											img.graph_tabs_content_item_img(src= item.img, alt="")
								else
									- j ++;
									.graph_tabs_content_item(data-tab= j)
										picture
											source(srcset= item.m_img, media="(max-width: 1023px)")
											img.graph_tabs_content_item_img(src= item.img, alt="")
			else
				.graph_img_w
					picture
						source(srcset= array.m_img, media="(max-width: 1023px)")
						img.graph_img(src= array.img, alt="")
				.graph_block_bottom
					p!= array.bottom_text

mixin banner_block(array)
	- url = array.url || '#'
	.banner_block
		.banner_block_head
			span.banner_block_subtitle!= array.subtitle
			h2.banner_block_title!= array.title
		a.banner_block_img_w(href= url tabindex=array.tabindex)
			img.banner_block_img(src= array.img, alt=array.title)
